.mano {
    color: white;
}

.centro_sec1 {
    width: 100%;
}

.lapallazo {
    cursor: default;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    margin-bottom: 200px;
    font-family: 'Poppins';
    overflow-x: hidden;
    width: 100%;
}

.logos_sec1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 100px;
    width: 20%;
    font-size: 30px;
    align-items: flex-start;
    margin-left: 60px;
    gap: 20px;
}
.textos_sec1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-bottom: 100px;
    width: 23%;
    text-align: right;
    gap: 40px;
    margin-right: 20px;
}
.textos_sec1 h4 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    color: rgb(65, 163, 65);
}
.textos_sec1 h4::before {
    content: '';
    height: 4px;
    width: 10%;
    right: 0;
    position: absolute;
    bottom: -20px;
    background-color: rgb(2, 65, 2);
}

.centro_sec1 {
    width: 50%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro_sec1 h1 {
    font-size: 200px;
    font-weight: 800;
    position: absolute;


}
.centro_sec1 img {
    position: absolute;
    animation: fade 4s ease infinite;
}

@keyframes fade {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
        transform: scale(1.09);
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes fade2 {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
        transform: scale(1.06);
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes fade3 {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
        transform: scale(1.06);

    }
    100% {
        opacity: 0.8;
    }
}
/* MODO CLARO */
.dark {
    color: black;
}
.sec1.dark {
    background: white;
    color: black;
    margin-bottom: 0;
}
.sec1.dark i {
    color: black;
}
.sec1.dark #letrasec1branca {
    background: black;
    -webkit-background-clip: text;
    background-size: 400% 100%;
    color: var(--cor-fonte);
    -webkit-text-stroke: 6px transparent;
}

body.dark {
    background: white;
}

@media screen and (min-width: 0px) and (max-width: 1480px) {
    #peperonne1 {
        display: none;
        visibility: hidden;
    }
    #alface1 {
        visibility: hidden;
    }
}

@media screen and (min-width: 0px) and (max-width: 1035px) {
    .centro_sec1 {
        transform: scale(0.8);
    }
}

@media screen and (min-width: 0px) and (max-width: 630px) {
    .centro_sec1 {
        transform: scale(0.5);
    }
    .textos_sec1 {
        margin-bottom: 0;
    }
    .textos_sec1 {
        width: 70%;
    }
}

@media screen and (min-width: 0px) and (max-width: 820px){
    .sec1 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 200px;
    }
    .logos_sec1 {
        display: none;
        visibility: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 300px){
    .centro_sec1 h1 {
        font-size: 6.5rem;
    }
    
    .centro_sec1 img {
        width: 22em;
        margin-left: 2.5em;
    }
}

@media screen and (min-width: 630px) and (max-width: 1000px){
    .centro_sec1 h1 {
        font-size: 20vw;
    }
}
@media screen and (min-width: 300px) and (max-width: 630px){
    .centro_sec1 h1 {
        font-size: 50vw;
    }
}

@media screen and (min-width: 300px) and (max-width: 1150px){
    .centro_sec1 img {
        width: auto;
        max-width: 500px;
        margin-left: 2.5em;
    }
    .logos_sec1{
        align-items: center;
    }
}